## Spark Groupby Example with DataFrame

### When we perform groupBy() on Spark Dataframe, it returns RelationalGroupedDataset object which contains below aggregate functions.

### count() - Returns the count of rows for each group.

### mean() - Returns the mean of values for each group.

### max() - Returns the maximum of values for each group.

### min() - Returns the minimum of values for each group.

### sum() - Returns the total for values for each group.

### avg() - Returns the average for values for each group. 

###  agg() - Using agg() function, we can calculate more than one aggregate at a time.

###  pivot() - This function is used to Pivot the DataFrame.

In [1]:
import findspark
findspark.init('C:\\spark\\spark-3.0.0-hadoop2.7')
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

In [4]:
spark

In [5]:
emp_df = spark.createDataFrame([
    ("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
],["employee_name","department","state","salary","age","bonus"])

In [6]:
emp_df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [7]:
# find the sum of salary for each department
emp_df.groupBy('department').sum('salary').show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|     257000|
|   Finance|     351000|
| Marketing|     171000|
+----------+-----------+

In [9]:
# number of employee in each department
emp_df.groupBy('department').count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [11]:
# minimum salary of each department
emp_df.groupBy('department').min('salary').show()

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|     Sales|      81000|
|   Finance|      79000|
| Marketing|      80000|
+----------+-----------+

In [12]:
# maximin salary of each department
emp_df.groupBy('department').max('salary').show()

+----------+-----------+
|department|max(salary)|
+----------+-----------+
|     Sales|      90000|
|   Finance|      99000|
| Marketing|      91000|
+----------+-----------+

In [13]:
# average salary of each department 
emp_df.groupBy('department').avg('salary').show()

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|     Sales|85666.66666666667|
|   Finance|          87750.0|
| Marketing|          85500.0|
+----------+-----------------+

In [14]:
# mean salary of each department
emp_df.groupBy('department').mean('salary').show()

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|     Sales|85666.66666666667|
|   Finance|          87750.0|
| Marketing|          85500.0|
+----------+-----------------+

## groupBy and aggregate on multiple DataFrame columns

In [15]:
emp_df.groupBy('department','state').sum('salary','bonus').show()

+----------+-----+-----------+----------+
|department|state|sum(salary)|sum(bonus)|
+----------+-----+-----------+----------+
|   Finance|   NY|     162000|     34000|
| Marketing|   NY|      91000|     21000|
|     Sales|   CA|      81000|     23000|
| Marketing|   CA|      80000|     18000|
|   Finance|   CA|     189000|     47000|
|     Sales|   NY|     176000|     30000|
+----------+-----+-----------+----------+

In [17]:
emp_df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

## Using agg() aggregate function we can calculate many aggregations at a time on a single statement using Spark SQL aggregate functions sum(), avg(), min(), max() mean() e.t.c. In order to use these, we should import "import org.apache.spark.sql.functions._"

In [24]:
from pyspark.sql.functions import *

In [25]:
emp_df.groupBy('department').agg(
    min('salary').alias('min_salary_dept'),
    avg('salary').alias('avg_sal_dept'),
    sum('salary').alias('tot_sal_dept'),
    max('salary').alias('max_salary_dept')
).show()

+----------+---------------+-----------------+------------+---------------+
|department|min_salary_dept|     avg_sal_dept|tot_sal_dept|max_salary_dept|
+----------+---------------+-----------------+------------+---------------+
|     Sales|          81000|85666.66666666667|      257000|          90000|
|   Finance|          79000|          87750.0|      351000|          99000|
| Marketing|          80000|          85500.0|      171000|          91000|
+----------+---------------+-----------------+------------+---------------+

In [35]:
emp_df.groupBy('department').agg({'salary': 'mean', 'salary': 'max'}).show()

+----------+-----------+
|department|max(salary)|
+----------+-----------+
|     Sales|      90000|
|   Finance|      99000|
| Marketing|      91000|
+----------+-----------+

## Similar to SQL “HAVING” clause, On Spark DataFrame we can use either where() or filter() function to filter the rows of aggregated data.

In [30]:
emp_df.groupBy('department').agg(
    min('salary').alias('min_sal_dept'),
    sum('salary').alias('tot_sal_dept'),
    max('salary').alias('max_sal_dept'),
    avg('salary').alias('avg_sal_dept')
).where(col('tot_sal_dept') > 200000).show()

+----------+------------+------------+------------+-----------------+
|department|min_sal_dept|tot_sal_dept|max_sal_dept|     avg_sal_dept|
+----------+------------+------------+------------+-----------------+
|     Sales|       81000|      257000|       90000|85666.66666666667|
|   Finance|       79000|      351000|       99000|          87750.0|
+----------+------------+------------+------------+-----------------+

In [31]:
emp_df.groupBy('department').agg(
    min('salary').alias('min_sal_dept'),
    sum('salary').alias('tot_sal_dept'),
    max('salary').alias('max_sal_dept'),
    avg('salary').alias('avg_sal_dept')
).filter(col('tot_sal_dept') > 200000).show()

+----------+------------+------------+------------+-----------------+
|department|min_sal_dept|tot_sal_dept|max_sal_dept|     avg_sal_dept|
+----------+------------+------------+------------+-----------------+
|     Sales|       81000|      257000|       90000|85666.66666666667|
|   Finance|       79000|      351000|       99000|          87750.0|
+----------+------------+------------+------------+-----------------+