## PySpark SQL Practice

In [1]:
import findspark
findspark.init('C:\\spark\\spark-3.0.0-hadoop2.7')
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

In [4]:
spark

In [10]:
ipl_df = spark.read.csv('C:\\RamPravesh\\BigData\\Dataset\\cricket_data\\IPL Player Stats - 2016 till 2019.csv',inferSchema=True,header = True)

In [11]:
ipl_df.head(2)

[Row(Team='Delhi Daredevils', Player='CH Morris', Tournament='IPL 2016', Matches=12, Batting Innings='7', Not Out='4', Runds Scored='195', Highest Score='82*', Batting Average='65.00', Balls Faced='109', Batting Strike Rate='178.89', 100='0', 50='1', 0='1', 4s='15', 6s='12', Bowling Innings='12', Overs Bowled='44.0', Maidens Bowled='0', Runs Conceded='308', Wickets Taken='13', Best Bowling Figures='2/30', Bowling Average='23.69', Bowling Economy Rate='7.00', Bowling Strike Rate='20.3', 4+ Innings Wickets='0', 5+ Innings Wickets='0', Catches Taken=8, Stumpings Made=0),
 Row(Team='Delhi Daredevils', Player='CH Morris', Tournament='IPL 2017', Matches=9, Batting Innings='9', Not Out='4', Runds Scored='154', Highest Score='52*', Batting Average='30.80', Balls Faced='94', Batting Strike Rate='163.82', 100='0', 50='1', 0='0', 4s='15', 6s='6', Bowling Innings='9', Overs Bowled='31.0', Maidens Bowled='0', Runs Conceded='240', Wickets Taken='12', Best Bowling Figures='4/26', Bowling Average='20.00', Bowling Economy Rate='7.74', Bowling Strike Rate='15.5', 4+ Innings Wickets='1', 5+ Innings Wickets='0', Catches Taken=5, Stumpings Made=0)]

In [12]:
ipl_df.printSchema()

root
 |-- Team: string (nullable = true)
 |-- Player: string (nullable = true)
 |-- Tournament: string (nullable = true)
 |-- Matches: integer (nullable = true)
 |-- Batting Innings: string (nullable = true)
 |-- Not Out: string (nullable = true)
 |-- Runds Scored: string (nullable = true)
 |-- Highest Score: string (nullable = true)
 |-- Batting Average: string (nullable = true)
 |-- Balls Faced: string (nullable = true)
 |-- Batting Strike Rate: string (nullable = true)
 |-- 100: string (nullable = true)
 |-- 50: string (nullable = true)
 |-- 0: string (nullable = true)
 |-- 4s: string (nullable = true)
 |-- 6s: string (nullable = true)
 |-- Bowling Innings: string (nullable = true)
 |-- Overs Bowled: string (nullable = true)
 |-- Maidens Bowled: string (nullable = true)
 |-- Runs Conceded: string (nullable = true)
 |-- Wickets Taken: string (nullable = true)
 |-- Best Bowling Figures: string (nullable = true)
 |-- Bowling Average: string (nullable = true)
 |-- Bowling Economy Rate: string (nullable = true)
 |-- Bowling Strike Rate: string (nullable = true)
 |-- 4+ Innings Wickets: string (nullable = true)
 |-- 5+ Innings Wickets: string (nullable = true)
 |-- Catches Taken: integer (nullable = true)
 |-- Stumpings Made: integer (nullable = true)

In [13]:
ipl_df.columns

['Team',
 'Player',
 'Tournament',
 'Matches',
 'Batting Innings',
 'Not Out',
 'Runds Scored',
 'Highest Score',
 'Batting Average',
 'Balls Faced',
 'Batting Strike Rate',
 '100',
 '50',
 '0',
 '4s',
 '6s',
 'Bowling Innings',
 'Overs Bowled',
 'Maidens Bowled',
 'Runs Conceded',
 'Wickets Taken',
 'Best Bowling Figures',
 'Bowling Average',
 'Bowling Economy Rate',
 'Bowling Strike Rate',
 '4+ Innings Wickets',
 '5+ Innings Wickets',
 'Catches Taken',
 'Stumpings Made']

In [14]:
ipl_df.describe()

DataFrame[summary: string, Team: string, Player: string, Tournament: string, Matches: string, Batting Innings: string, Not Out: string, Runds Scored: string, Highest Score: string, Batting Average: string, Balls Faced: string, Batting Strike Rate: string, 100: string, 50: string, 0: string, 4s: string, 6s: string, Bowling Innings: string, Overs Bowled: string, Maidens Bowled: string, Runs Conceded: string, Wickets Taken: string, Best Bowling Figures: string, Bowling Average: string, Bowling Economy Rate: string, Bowling Strike Rate: string, 4+ Innings Wickets: string, 5+ Innings Wickets: string, Catches Taken: string, Stumpings Made: string]

In [15]:
ipl_df.describe().show()

+-------+-------------------+--------------+----------+-----------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-------------------+--------------------+------------------+-------------------+------------------+------------------+-----------------+------------------+-------------------+------------------+-----------------+--------------------+-----------------+--------------------+-------------------+-------------------+--------------------+------------------+-------------------+
|summary|               Team|        Player|Tournament|          Matches|  Batting Innings|           Not Out|      Runds Scored|    Highest Score|   Batting Average|       Balls Faced|Batting Strike Rate|                 100|                50|                  0|                4s|                6s|  Bowling Innings|      Overs Bowled|     Maidens Bowled|     Runs Conceded|    Wickets Taken|Best Bowling Figures|  Bowling Average|Bowling Economy Rate|Bowling Strike Rate| 4+ Innings Wickets|  5+ Innings Wickets|     Catches Taken|     Stumpings Made|
+-------+-------------------+--------------+----------+-----------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-------------------+--------------------+------------------+-------------------+------------------+------------------+-----------------+------------------+-------------------+------------------+-----------------+--------------------+-----------------+--------------------+-------------------+-------------------+--------------------+------------------+-------------------+
|  count|                631|           631|       631|              631|              631|               631|               631|              631|               631|               631|                631|                 631|               631|                631|               631|               631|              631|               631|                631|               631|              631|                 631|              631|                 631|                631|                631|                 631|               631|                631|
|   mean|               null|          null|      null|8.332805071315372| 6.38664323374341|1.5114235500878734|129.24428822495605|34.62099125364431|  20.2266866267465| 96.37609841827768| 112.89402852049925|0.040421792618629174|0.7240773286467487|0.45694200351493847|11.500878734622145| 5.270650263620387|6.864406779661017|21.992251815980644|0.15980629539951574|183.26634382566587|6.154963680387409|                null|37.39968208092486|   8.979104116222764| 25.654046242774577|0.08958837772397095|0.014527845036319613|2.8304278922345483|0.13153724247226625|
| stddev|               null|          null|      null|5.055267712287339|4.890155835922454|1.5845733791405932|  164.477443142534|29.09164430906556|15.327276698735522|116.16199163645594|  49.69512648021836| 0.25889220515581923|1.3989936905227374| 0.7135448591340864|15.992089239388031|7.6451125715284505|4.751189626109959|  17.6305515394987| 0.4813330611806283|137.63687540520775|6.032694563802648|                null|25.19689774239408|  2.0750672983138543| 15.324096714071054| 0.3329962171576336| 0.11979789746625415| 3.073402484623615| 0.6571733709484983|
|    min|Chennai Super Kings|A Ashish Reddy|  IPL 2016|                1|                -|                 -|                 -|                -|                 -|                 -|                  -|                   -|                 -|                  -|                 -|                 -|                -|                 -|                  -|                 -|                -|                   -|                -|                   -|                  -|                  -|                   -|                 0|                  0|
|    max|Sunrisers Hyderabad|        Z Khan|  IPL 2019|               17|                9|                 9|                99|              99*|              9.66|                99|              98.55|                   4|                 9|                  3|                 9|                 9|                9|               9.3|                  4|                98|                9|                6/19|            94.25|                9.96|                9.2|                  3|                   1|                19|                  6|
+-------+-------------------+--------------+----------+-----------------+-----------------+------------------+------------------+-----------------+------------------+------------------+-------------------+--------------------+------------------+-------------------+------------------+------------------+-----------------+------------------+-------------------+------------------+-----------------+--------------------+-----------------+--------------------+-------------------+-------------------+--------------------+------------------+-------------------+

In [18]:
from pyspark.sql.types import StructField,StringType,IntegerType,FloatType,StructType

In [64]:
data_schema=[StructField('Country',StringType(),True)
             ,StructField('Team_Matches_Played',IntegerType(),True)
             ,StructField('Matches_Won',IntegerType(),True)
            ,StructField('Matches_Lost',IntegerType(),True)
            ,StructField('Matches_Tied',IntegerType(),True)
            ,StructField('Matches_With_No_Result',IntegerType(),True)
            ,StructField('WinLoss_Ratio',FloatType(),True)
            ,StructField('Avg_Runs_Wicket_Batting',FloatType(),True)
            ,StructField('Avg_Runs_Per_Six_Balls_Batting',FloatType(),True)
            ,StructField('Number_Of_Team_Innings_Batting',IntegerType(),True)
            ,StructField('Highest_Team_Score_Batting',IntegerType(),True)
            ,StructField('Lowest_Completed_Score_Batting',IntegerType(),True)]

In [65]:
final_struct = StructType(fields=data_schema)

In [66]:
ODI_Team_DF=spark.read.csv('C:\\RamPravesh\\BigData\\Dataset\\cricket_data\\Men ODI Team Batting Stats.csv',schema=final_struct,header = True)

In [67]:
ODI_Team_DF.show()

+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|     Country|Team_Matches_Played|Matches_Won|Matches_Lost|Matches_Tied|Matches_With_No_Result|WinLoss_Ratio|Avg_Runs_Wicket_Batting|Avg_Runs_Per_Six_Balls_Batting|Number_Of_Team_Innings_Batting|Highest_Team_Score_Batting|Lowest_Completed_Score_Batting|
+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|     England|                746|        375|         334|           9|                    28|        1.122|                   31.1|                          4.91|                           738|                       481|                            86|
|   Australia|                949|        575|         331|           9|                    34|        1.737|                  34.14|                          5.01|                           939|                       434|                            70|
|South Africa|                625|        385|         216|           6|                    18|        1.782|                  35.76|                          5.11|                           622|                       439|                            69|
| West Indies|                822|        401|         381|          10|                    30|        1.052|                   30.2|                          4.78|                           811|                       389|                            54|
| New Zealand|                772|        351|         374|           7|                    40|        0.938|                  29.21|                          4.82|                           757|                       402|                            64|
|       India|                987|        513|         424|           9|                    41|        1.209|                  33.77|                          5.06|                           975|                       418|                            54|
|    Pakistan|                927|        486|         413|           8|                    20|        1.176|                  30.65|                          4.83|                           926|                       399|                            43|
|   Sri Lanka|                852|        389|         421|           5|                    37|        0.923|                  29.53|                          4.91|                           836|                       443|                            43|
|    Zimbabwe|                529|        138|         373|           7|                    11|        0.369|                  25.31|                          4.51|                           525|                       351|                            35|
|     Bermuda|                 35|          7|          28|           0|                     0|         0.25|                  21.68|                           4.1|                            35|                       275|                            78|
| Netherlands|                 80|         31|          45|           1|                     3|        0.688|                  25.76|                          4.54|                            79|                       315|                            80|
|  Bangladesh|                376|        128|         241|           0|                     7|        0.531|                  25.71|                          4.59|                           373|                       333|                            58|
|       Kenya|                154|         42|         107|           0|                     5|        0.392|                  23.01|                          4.25|                           151|                       347|                            69|
|     Namibia|                 14|          5|           9|           0|                     0|        0.555|                  21.66|                          4.53|                            14|                       324|                            45|
|     Ireland|                156|         67|          78|           3|                     8|        0.858|                  26.89|                           4.8|                           153|                       331|                            77|
|    Scotland|                115|         42|          66|           1|                     6|        0.636|                  25.38|                          4.62|                           113|                       371|                            68|
| Afghanistan|                126|         59|          63|           1|                     3|        0.936|                  26.42|                          4.73|                           125|                       338|                            58|
+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+

In [68]:
ODI_Team_DF.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Team_Matches_Played: integer (nullable = true)
 |-- Matches_Won: integer (nullable = true)
 |-- Matches_Lost: integer (nullable = true)
 |-- Matches_Tied: integer (nullable = true)
 |-- Matches_With_No_Result: integer (nullable = true)
 |-- WinLoss_Ratio: float (nullable = true)
 |-- Avg_Runs_Wicket_Batting: float (nullable = true)
 |-- Avg_Runs_Per_Six_Balls_Batting: float (nullable = true)
 |-- Number_Of_Team_Innings_Batting: integer (nullable = true)
 |-- Highest_Team_Score_Batting: integer (nullable = true)
 |-- Lowest_Completed_Score_Batting: integer (nullable = true)

In [69]:
ODI_Team_DF.columns

['Country',
 'Team_Matches_Played',
 'Matches_Won',
 'Matches_Lost',
 'Matches_Tied',
 'Matches_With_No_Result',
 'WinLoss_Ratio',
 'Avg_Runs_Wicket_Batting',
 'Avg_Runs_Per_Six_Balls_Batting',
 'Number_Of_Team_Innings_Batting',
 'Highest_Team_Score_Batting',
 'Lowest_Completed_Score_Batting']

In [70]:
ODI_Team_DF.describe()

DataFrame[summary: string, Country: string, Team_Matches_Played: string, Matches_Won: string, Matches_Lost: string, Matches_Tied: string, Matches_With_No_Result: string, WinLoss_Ratio: string, Avg_Runs_Wicket_Batting: string, Avg_Runs_Per_Six_Balls_Batting: string, Number_Of_Team_Innings_Batting: string, Highest_Team_Score_Batting: string, Lowest_Completed_Score_Batting: string]

In [71]:
ODI_Team_DF.describe().show()

+-------+-----------+-------------------+------------------+------------------+-----------------+----------------------+-------------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|summary|    Country|Team_Matches_Played|       Matches_Won|      Matches_Lost|     Matches_Tied|Matches_With_No_Result|      WinLoss_Ratio|Avg_Runs_Wicket_Batting|Avg_Runs_Per_Six_Balls_Batting|Number_Of_Team_Innings_Batting|Highest_Team_Score_Batting|Lowest_Completed_Score_Batting|
+-------+-----------+-------------------+------------------+------------------+-----------------+----------------------+-------------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|  count|         17|                 17|                17|                17|               17|                    17|                 17|                     17|                            17|                            17|                        17|                            17|
|   mean|       null|  486.1764705882353|234.94117647058823|229.64705882352942|4.470588235294118|     17.11764705882353| 0.8914117602741017|      28.01058802885168|             4.711764756370993|            480.70588235294116|        375.88235294117646|              61.8235294117647|
| stddev|       null|  367.9974923987454|203.68004031698695|160.04137792164508|3.858718165706448|     14.88658100833254|0.43722620065854934|      4.254515813087905|             0.273843838704955|            363.98038489489414|         55.57639151760076|            14.753115324049558|
|    min|Afghanistan|                 14|                 5|                 9|                0|                     0|               0.25|                  21.66|                           4.1|                            14|                       275|                            35|
|    max|   Zimbabwe|                987|               575|               424|               10|                    41|              1.782|                  35.76|                          5.11|                           975|                       481|                            86|
+-------+-----------+-------------------+------------------+------------------+-----------------+----------------------+-------------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+

In [72]:
ODI_Team_DF['Country']

Column<b'Country'>

In [73]:
type(ODI_Team_DF['Country'])

pyspark.sql.column.Column

In [74]:
ODI_Team_DF.select('Country')

DataFrame[Country: string]

In [75]:
type(ODI_Team_DF.select('Country'))

pyspark.sql.dataframe.DataFrame

In [76]:
ODI_Team_DF.select('Country').show()

+------------+
|     Country|
+------------+
|     England|
|   Australia|
|South Africa|
| West Indies|
| New Zealand|
|       India|
|    Pakistan|
|   Sri Lanka|
|    Zimbabwe|
|     Bermuda|
| Netherlands|
|  Bangladesh|
|       Kenya|
|     Namibia|
|     Ireland|
|    Scotland|
| Afghanistan|
+------------+

In [77]:
ODI_Team_DF.head(2)

[Row(Country='England', Team_Matches_Played=746, Matches_Won=375, Matches_Lost=334, Matches_Tied=9, Matches_With_No_Result=28, WinLoss_Ratio=1.121999979019165, Avg_Runs_Wicket_Batting=31.100000381469727, Avg_Runs_Per_Six_Balls_Batting=4.909999847412109, Number_Of_Team_Innings_Batting=738, Highest_Team_Score_Batting=481, Lowest_Completed_Score_Batting=86),
 Row(Country='Australia', Team_Matches_Played=949, Matches_Won=575, Matches_Lost=331, Matches_Tied=9, Matches_With_No_Result=34, WinLoss_Ratio=1.7369999885559082, Avg_Runs_Wicket_Batting=34.13999938964844, Avg_Runs_Per_Six_Balls_Batting=5.010000228881836, Number_Of_Team_Innings_Batting=939, Highest_Team_Score_Batting=434, Lowest_Completed_Score_Batting=70)]

In [85]:
ODI_Team_DF.select(['Country','Matches_Won'])

DataFrame[Country: string, Matches_Won: int]

In [86]:
ODI_Team_DF.select(['Country','Matches_Won']).show()

+------------+-----------+
|     Country|Matches_Won|
+------------+-----------+
|     England|        375|
|   Australia|        575|
|South Africa|        385|
| West Indies|        401|
| New Zealand|        351|
|       India|        513|
|    Pakistan|        486|
|   Sri Lanka|        389|
|    Zimbabwe|        138|
|     Bermuda|          7|
| Netherlands|         31|
|  Bangladesh|        128|
|       Kenya|         42|
|     Namibia|          5|
|     Ireland|         67|
|    Scotland|         42|
| Afghanistan|         59|
+------------+-----------+

In [87]:
# Added New Column with a simple copy
ODI_Team_DF.withColumn('Overall_Performance',(ODI_Team_DF['Matches_Won']-ODI_Team_DF['Matches_Lost']))['Country','Overall_Performance'].show()

+------------+-------------------+
|     Country|Overall_Performance|
+------------+-------------------+
|     England|                 41|
|   Australia|                244|
|South Africa|                169|
| West Indies|                 20|
| New Zealand|                -23|
|       India|                 89|
|    Pakistan|                 73|
|   Sri Lanka|                -32|
|    Zimbabwe|               -235|
|     Bermuda|                -21|
| Netherlands|                -14|
|  Bangladesh|               -113|
|       Kenya|                -65|
|     Namibia|                 -4|
|     Ireland|                -11|
|    Scotland|                -24|
| Afghanistan|                 -4|
+------------+-------------------+

In [88]:
ODI_Team_DF.head(2)

[Row(Country='England', Team_Matches_Played=746, Matches_Won=375, Matches_Lost=334, Matches_Tied=9, Matches_With_No_Result=28, WinLoss_Ratio=1.121999979019165, Avg_Runs_Wicket_Batting=31.100000381469727, Avg_Runs_Per_Six_Balls_Batting=4.909999847412109, Number_Of_Team_Innings_Batting=738, Highest_Team_Score_Batting=481, Lowest_Completed_Score_Batting=86),
 Row(Country='Australia', Team_Matches_Played=949, Matches_Won=575, Matches_Lost=331, Matches_Tied=9, Matches_With_No_Result=34, WinLoss_Ratio=1.7369999885559082, Avg_Runs_Wicket_Batting=34.13999938964844, Avg_Runs_Per_Six_Balls_Batting=5.010000228881836, Number_Of_Team_Innings_Batting=939, Highest_Team_Score_Batting=434, Lowest_Completed_Score_Batting=70)]

In [89]:
# Renamed a column
ODI_Team_DF.withColumnRenamed('Lowest Completed Score Batting','Lowest Total').show()

+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|     Country|Team_Matches_Played|Matches_Won|Matches_Lost|Matches_Tied|Matches_With_No_Result|WinLoss_Ratio|Avg_Runs_Wicket_Batting|Avg_Runs_Per_Six_Balls_Batting|Number_Of_Team_Innings_Batting|Highest_Team_Score_Batting|Lowest_Completed_Score_Batting|
+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|     England|                746|        375|         334|           9|                    28|        1.122|                   31.1|                          4.91|                           738|                       481|                            86|
|   Australia|                949|        575|         331|           9|                    34|        1.737|                  34.14|                          5.01|                           939|                       434|                            70|
|South Africa|                625|        385|         216|           6|                    18|        1.782|                  35.76|                          5.11|                           622|                       439|                            69|
| West Indies|                822|        401|         381|          10|                    30|        1.052|                   30.2|                          4.78|                           811|                       389|                            54|
| New Zealand|                772|        351|         374|           7|                    40|        0.938|                  29.21|                          4.82|                           757|                       402|                            64|
|       India|                987|        513|         424|           9|                    41|        1.209|                  33.77|                          5.06|                           975|                       418|                            54|
|    Pakistan|                927|        486|         413|           8|                    20|        1.176|                  30.65|                          4.83|                           926|                       399|                            43|
|   Sri Lanka|                852|        389|         421|           5|                    37|        0.923|                  29.53|                          4.91|                           836|                       443|                            43|
|    Zimbabwe|                529|        138|         373|           7|                    11|        0.369|                  25.31|                          4.51|                           525|                       351|                            35|
|     Bermuda|                 35|          7|          28|           0|                     0|         0.25|                  21.68|                           4.1|                            35|                       275|                            78|
| Netherlands|                 80|         31|          45|           1|                     3|        0.688|                  25.76|                          4.54|                            79|                       315|                            80|
|  Bangladesh|                376|        128|         241|           0|                     7|        0.531|                  25.71|                          4.59|                           373|                       333|                            58|
|       Kenya|                154|         42|         107|           0|                     5|        0.392|                  23.01|                          4.25|                           151|                       347|                            69|
|     Namibia|                 14|          5|           9|           0|                     0|        0.555|                  21.66|                          4.53|                            14|                       324|                            45|
|     Ireland|                156|         67|          78|           3|                     8|        0.858|                  26.89|                           4.8|                           153|                       331|                            77|
|    Scotland|                115|         42|          66|           1|                     6|        0.636|                  25.38|                          4.62|                           113|                       371|                            68|
| Afghanistan|                126|         59|          63|           1|                     3|        0.936|                  26.42|                          4.73|                           125|                       338|                            58|
+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+

In [90]:
ODI_Team_DF.show()

+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|     Country|Team_Matches_Played|Matches_Won|Matches_Lost|Matches_Tied|Matches_With_No_Result|WinLoss_Ratio|Avg_Runs_Wicket_Batting|Avg_Runs_Per_Six_Balls_Batting|Number_Of_Team_Innings_Batting|Highest_Team_Score_Batting|Lowest_Completed_Score_Batting|
+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|     England|                746|        375|         334|           9|                    28|        1.122|                   31.1|                          4.91|                           738|                       481|                            86|
|   Australia|                949|        575|         331|           9|                    34|        1.737|                  34.14|                          5.01|                           939|                       434|                            70|
|South Africa|                625|        385|         216|           6|                    18|        1.782|                  35.76|                          5.11|                           622|                       439|                            69|
| West Indies|                822|        401|         381|          10|                    30|        1.052|                   30.2|                          4.78|                           811|                       389|                            54|
| New Zealand|                772|        351|         374|           7|                    40|        0.938|                  29.21|                          4.82|                           757|                       402|                            64|
|       India|                987|        513|         424|           9|                    41|        1.209|                  33.77|                          5.06|                           975|                       418|                            54|
|    Pakistan|                927|        486|         413|           8|                    20|        1.176|                  30.65|                          4.83|                           926|                       399|                            43|
|   Sri Lanka|                852|        389|         421|           5|                    37|        0.923|                  29.53|                          4.91|                           836|                       443|                            43|
|    Zimbabwe|                529|        138|         373|           7|                    11|        0.369|                  25.31|                          4.51|                           525|                       351|                            35|
|     Bermuda|                 35|          7|          28|           0|                     0|         0.25|                  21.68|                           4.1|                            35|                       275|                            78|
| Netherlands|                 80|         31|          45|           1|                     3|        0.688|                  25.76|                          4.54|                            79|                       315|                            80|
|  Bangladesh|                376|        128|         241|           0|                     7|        0.531|                  25.71|                          4.59|                           373|                       333|                            58|
|       Kenya|                154|         42|         107|           0|                     5|        0.392|                  23.01|                          4.25|                           151|                       347|                            69|
|     Namibia|                 14|          5|           9|           0|                     0|        0.555|                  21.66|                          4.53|                            14|                       324|                            45|
|     Ireland|                156|         67|          78|           3|                     8|        0.858|                  26.89|                           4.8|                           153|                       331|                            77|
|    Scotland|                115|         42|          66|           1|                     6|        0.636|                  25.38|                          4.62|                           113|                       371|                            68|
| Afghanistan|                126|         59|          63|           1|                     3|        0.936|                  26.42|                          4.73|                           125|                       338|                            58|
+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+

# Using SQL: To use SQL directly with the dataframe, you will need to register it to a temporary view.

In [91]:
# Register Dataframe as a SQL temporary view
ODI_Team_DF.createOrReplaceTempView("ODI_Team_Match_Statics")

In [92]:
resultset_all_rec = spark.sql("select * from ODI_Team_Match_Statics")

In [93]:
resultset_all_rec

DataFrame[Country: string, Team_Matches_Played: int, Matches_Won: int, Matches_Lost: int, Matches_Tied: int, Matches_With_No_Result: int, WinLoss_Ratio: float, Avg_Runs_Wicket_Batting: float, Avg_Runs_Per_Six_Balls_Batting: float, Number_Of_Team_Innings_Batting: int, Highest_Team_Score_Batting: int, Lowest_Completed_Score_Batting: int]

In [94]:
resultset_all_rec.show()

+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|     Country|Team_Matches_Played|Matches_Won|Matches_Lost|Matches_Tied|Matches_With_No_Result|WinLoss_Ratio|Avg_Runs_Wicket_Batting|Avg_Runs_Per_Six_Balls_Batting|Number_Of_Team_Innings_Batting|Highest_Team_Score_Batting|Lowest_Completed_Score_Batting|
+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|     England|                746|        375|         334|           9|                    28|        1.122|                   31.1|                          4.91|                           738|                       481|                            86|
|   Australia|                949|        575|         331|           9|                    34|        1.737|                  34.14|                          5.01|                           939|                       434|                            70|
|South Africa|                625|        385|         216|           6|                    18|        1.782|                  35.76|                          5.11|                           622|                       439|                            69|
| West Indies|                822|        401|         381|          10|                    30|        1.052|                   30.2|                          4.78|                           811|                       389|                            54|
| New Zealand|                772|        351|         374|           7|                    40|        0.938|                  29.21|                          4.82|                           757|                       402|                            64|
|       India|                987|        513|         424|           9|                    41|        1.209|                  33.77|                          5.06|                           975|                       418|                            54|
|    Pakistan|                927|        486|         413|           8|                    20|        1.176|                  30.65|                          4.83|                           926|                       399|                            43|
|   Sri Lanka|                852|        389|         421|           5|                    37|        0.923|                  29.53|                          4.91|                           836|                       443|                            43|
|    Zimbabwe|                529|        138|         373|           7|                    11|        0.369|                  25.31|                          4.51|                           525|                       351|                            35|
|     Bermuda|                 35|          7|          28|           0|                     0|         0.25|                  21.68|                           4.1|                            35|                       275|                            78|
| Netherlands|                 80|         31|          45|           1|                     3|        0.688|                  25.76|                          4.54|                            79|                       315|                            80|
|  Bangladesh|                376|        128|         241|           0|                     7|        0.531|                  25.71|                          4.59|                           373|                       333|                            58|
|       Kenya|                154|         42|         107|           0|                     5|        0.392|                  23.01|                          4.25|                           151|                       347|                            69|
|     Namibia|                 14|          5|           9|           0|                     0|        0.555|                  21.66|                          4.53|                            14|                       324|                            45|
|     Ireland|                156|         67|          78|           3|                     8|        0.858|                  26.89|                           4.8|                           153|                       331|                            77|
|    Scotland|                115|         42|          66|           1|                     6|        0.636|                  25.38|                          4.62|                           113|                       371|                            68|
| Afghanistan|                126|         59|          63|           1|                     3|        0.936|                  26.42|                          4.73|                           125|                       338|                            58|
+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+

In [95]:
spark.sql("select * from ODI_Team_Match_Statics where Country='India' ").show()

+-------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|Country|Team_Matches_Played|Matches_Won|Matches_Lost|Matches_Tied|Matches_With_No_Result|WinLoss_Ratio|Avg_Runs_Wicket_Batting|Avg_Runs_Per_Six_Balls_Batting|Number_Of_Team_Innings_Batting|Highest_Team_Score_Batting|Lowest_Completed_Score_Batting|
+-------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|  India|                987|        513|         424|           9|                    41|        1.209|                  33.77|                          5.06|                           975|                       418|                            54|
+-------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+

In [96]:
ODI_Team_DF.filter(ODI_Team_DF.Country=='India').show()

+-------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|Country|Team_Matches_Played|Matches_Won|Matches_Lost|Matches_Tied|Matches_With_No_Result|WinLoss_Ratio|Avg_Runs_Wicket_Batting|Avg_Runs_Per_Six_Balls_Batting|Number_Of_Team_Innings_Batting|Highest_Team_Score_Batting|Lowest_Completed_Score_Batting|
+-------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|  India|                987|        513|         424|           9|                    41|        1.209|                  33.77|                          5.06|                           975|                       418|                            54|
+-------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+

In [97]:
ODI_Team_DF.filter(ODI_Team_DF['Team_Matches_Played']>500).show()

+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|     Country|Team_Matches_Played|Matches_Won|Matches_Lost|Matches_Tied|Matches_With_No_Result|WinLoss_Ratio|Avg_Runs_Wicket_Batting|Avg_Runs_Per_Six_Balls_Batting|Number_Of_Team_Innings_Batting|Highest_Team_Score_Batting|Lowest_Completed_Score_Batting|
+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+
|     England|                746|        375|         334|           9|                    28|        1.122|                   31.1|                          4.91|                           738|                       481|                            86|
|   Australia|                949|        575|         331|           9|                    34|        1.737|                  34.14|                          5.01|                           939|                       434|                            70|
|South Africa|                625|        385|         216|           6|                    18|        1.782|                  35.76|                          5.11|                           622|                       439|                            69|
| West Indies|                822|        401|         381|          10|                    30|        1.052|                   30.2|                          4.78|                           811|                       389|                            54|
| New Zealand|                772|        351|         374|           7|                    40|        0.938|                  29.21|                          4.82|                           757|                       402|                            64|
|       India|                987|        513|         424|           9|                    41|        1.209|                  33.77|                          5.06|                           975|                       418|                            54|
|    Pakistan|                927|        486|         413|           8|                    20|        1.176|                  30.65|                          4.83|                           926|                       399|                            43|
|   Sri Lanka|                852|        389|         421|           5|                    37|        0.923|                  29.53|                          4.91|                           836|                       443|                            43|
|    Zimbabwe|                529|        138|         373|           7|                    11|        0.369|                  25.31|                          4.51|                           525|                       351|                            35|
+------------+-------------------+-----------+------------+------------+----------------------+-------------+-----------------------+------------------------------+------------------------------+--------------------------+------------------------------+

In [99]:
spark.sql('select Country from ODI_Team_Match_Statics where Team_Matches_Played>500').show()

+------------+
|     Country|
+------------+
|     England|
|   Australia|
|South Africa|
| West Indies|
| New Zealand|
|       India|
|    Pakistan|
|   Sri Lanka|
|    Zimbabwe|
+------------+

In [107]:
ODI_Team_DF.filter(ODI_Team_DF.Matches_Won>ODI_Team_DF.Matches_Lost)['Country','Matches_Won','Matches_Lost'].show()

+------------+-----------+------------+
|     Country|Matches_Won|Matches_Lost|
+------------+-----------+------------+
|     England|        375|         334|
|   Australia|        575|         331|
|South Africa|        385|         216|
| West Indies|        401|         381|
|       India|        513|         424|
|    Pakistan|        486|         413|
+------------+-----------+------------+

In [106]:
spark.sql('select Country, Matches_Won,Matches_Lost from ODI_Team_Match_Statics where Matches_Won>Matches_Lost').show()

+------------+-----------+------------+
|     Country|Matches_Won|Matches_Lost|
+------------+-----------+------------+
|     England|        375|         334|
|   Australia|        575|         331|
|South Africa|        385|         216|
| West Indies|        401|         381|
|       India|        513|         424|
|    Pakistan|        486|         413|
+------------+-----------+------------+

In [120]:

ODI_Team_DF.withColumn('Winnig_Percentage',(ODI_Team_DF.Matches_Won/ODI_Team_DF.Team_Matches_Played)).orderBy(['Winnig_Percentage'], ascending=[0])['Country','Winnig_Percentage'].show()

+------------+-------------------+
|     Country|  Winnig_Percentage|
+------------+-------------------+
|South Africa|              0.616|
|   Australia| 0.6059009483667018|
|    Pakistan| 0.5242718446601942|
|       India| 0.5197568389057751|
|     England| 0.5026809651474531|
| West Indies| 0.4878345498783455|
| Afghanistan|0.46825396825396826|
|   Sri Lanka| 0.4565727699530516|
| New Zealand|0.45466321243523317|
|     Ireland|0.42948717948717946|
| Netherlands|             0.3875|
|    Scotland| 0.3652173913043478|
|     Namibia|0.35714285714285715|
|  Bangladesh| 0.3404255319148936|
|       Kenya| 0.2727272727272727|
|    Zimbabwe| 0.2608695652173913|
|     Bermuda|                0.2|
+------------+-------------------+

In [110]:
spark.sql('select Country, (Matches_Won/Team_Matches_Played) as Winnig_Percentage from  ODI_Team_Match_Statics order by Winnig_Percentage desc').show()

+------------+-------------------+
|     Country|  Winnig_Percentage|
+------------+-------------------+
|South Africa|              0.616|
|   Australia| 0.6059009483667018|
|    Pakistan| 0.5242718446601942|
|       India| 0.5197568389057751|
|     England| 0.5026809651474531|
| West Indies| 0.4878345498783455|
| Afghanistan|0.46825396825396826|
|   Sri Lanka| 0.4565727699530516|
| New Zealand|0.45466321243523317|
|     Ireland|0.42948717948717946|
| Netherlands|             0.3875|
|    Scotland| 0.3652173913043478|
|     Namibia|0.35714285714285715|
|  Bangladesh| 0.3404255319148936|
|       Kenya| 0.2727272727272727|
|    Zimbabwe| 0.2608695652173913|
|     Bermuda|                0.2|
+------------+-------------------+

In [123]:
spark.sql('select count(1) as No_Team from ODI_Team_Match_Statics').show()

+-------+
|No_Team|
+-------+
|     17|
+-------+

In [132]:
spark.sql('select Country, count(1) from ODI_Team_Match_Statics group by Country').show()

+------------+--------+
|     Country|count(1)|
+------------+--------+
|     England|       1|
|   Australia|       1|
|South Africa|       1|
| West Indies|       1|
| New Zealand|       1|
|       India|       1|
|    Pakistan|       1|
|   Sri Lanka|       1|
|    Zimbabwe|       1|
|     Bermuda|       1|
| Netherlands|       1|
|  Bangladesh|       1|
|       Kenya|       1|
|     Namibia|       1|
|     Ireland|       1|
|    Scotland|       1|
| Afghanistan|       1|
+------------+--------+

In [133]:
spark.sql('select Country, count(1) from ODI_Team_Match_Statics group by Country order by Country').show()

+------------+--------+
|     Country|count(1)|
+------------+--------+
| Afghanistan|       1|
|   Australia|       1|
|  Bangladesh|       1|
|     Bermuda|       1|
|     England|       1|
|       India|       1|
|     Ireland|       1|
|       Kenya|       1|
|     Namibia|       1|
| Netherlands|       1|
| New Zealand|       1|
|    Pakistan|       1|
|    Scotland|       1|
|South Africa|       1|
|   Sri Lanka|       1|
| West Indies|       1|
|    Zimbabwe|       1|
+------------+--------+

In [136]:
spark.sql('select Country, sum(Matches_Won) from ODI_Team_Match_Statics group by Country order by Country').show()

+------------+----------------+
|     Country|sum(Matches_Won)|
+------------+----------------+
| Afghanistan|              59|
|   Australia|             575|
|  Bangladesh|             128|
|     Bermuda|               7|
|     England|             375|
|       India|             513|
|     Ireland|              67|
|       Kenya|              42|
|     Namibia|               5|
| Netherlands|              31|
| New Zealand|             351|
|    Pakistan|             486|
|    Scotland|              42|
|South Africa|             385|
|   Sri Lanka|             389|
| West Indies|             401|
|    Zimbabwe|             138|
+------------+----------------+

In [137]:
spark.sql('select Country, avg(Matches_won) from ODI_Team_Match_Statics group by Country order by Country').show()

+------------+----------------+
|     Country|avg(Matches_won)|
+------------+----------------+
| Afghanistan|            59.0|
|   Australia|           575.0|
|  Bangladesh|           128.0|
|     Bermuda|             7.0|
|     England|           375.0|
|       India|           513.0|
|     Ireland|            67.0|
|       Kenya|            42.0|
|     Namibia|             5.0|
| Netherlands|            31.0|
| New Zealand|           351.0|
|    Pakistan|           486.0|
|    Scotland|            42.0|
|South Africa|           385.0|
|   Sri Lanka|           389.0|
| West Indies|           401.0|
|    Zimbabwe|           138.0|
+------------+----------------+

In [141]:
# Register Dataframe as a SQL temporary view
ipl_df.createOrReplaceTempView("ipl")

## Important

In [154]:
ipl_df.filter(ipl_df.Player=='MS Dhoni').filter(ipl_df.Team=='Chennai Super Kings').orderBy(ipl_df['Highest Score'].desc()).select('Team','Player','Runds Scored','Highest Score').show()

+-------------------+--------+------------+-------------+
|               Team|  Player|Runds Scored|Highest Score|
+-------------------+--------+------------+-------------+
|Chennai Super Kings|MS Dhoni|         416|          84*|
|Chennai Super Kings|MS Dhoni|         455|          79*|
+-------------------+--------+------------+-------------+

In [160]:
spark.sql("select Team,  Player, Tournament, Matches from ipl where Player='MS Dhoni' and Team='Chennai Super Kings'").show()

+-------------------+--------+----------+-------+
|               Team|  Player|Tournament|Matches|
+-------------------+--------+----------+-------+
|Chennai Super Kings|MS Dhoni|  IPL 2018|     16|
|Chennai Super Kings|MS Dhoni|  IPL 2019|     15|
+-------------------+--------+----------+-------+

In [168]:
from pyspark.sql.functions import udf

In [169]:
upper = udf(lambda s: s.upper())

In [177]:
ipl_df.select(upper(ipl_df['Team'])).limit(2).show()

+----------------+
|  <lambda>(Team)|
+----------------+
|DELHI DAREDEVILS|
|DELHI DAREDEVILS|
+----------------+

In [179]:
ipl_df.select(upper('Team')).limit(2).show()

+----------------+
|  <lambda>(Team)|
+----------------+
|DELHI DAREDEVILS|
|DELHI DAREDEVILS|
+----------------+

In [185]:
ipl_df.filter(ipl_df['Player']=='MS Dhoni').orderBy(ipl_df['Runds Scored'].desc()).select(ipl_df['Team'].alias('TeamName'), ipl_df['Runds Scored'].alias('RunsScored'), upper(ipl_df['Player'].alias('PlayerName'))).show()

+--------------------+----------+--------------------------------+
|            TeamName|RunsScored|<lambda>(Player AS `PlayerName`)|
+--------------------+----------+--------------------------------+
| Chennai Super Kings|       455|                        MS DHONI|
| Chennai Super Kings|       416|                        MS DHONI|
|Rising Pune Super...|       290|                        MS DHONI|
|Rising Pune Super...|       284|                        MS DHONI|
+--------------------+----------+--------------------------------+

In [194]:
ipl_df.filter(ipl_df['Player']=='Yuvraj Singh').groupBy('Team').sum('Matches').alias('TotMaches').show()

+-------------------+------------+
|               Team|sum(Matches)|
+-------------------+------------+
|    Kings XI Punjab|           8|
|     Mumbai Indians|           4|
|Sunrisers Hyderabad|          22|
+-------------------+------------+